.container{
  display: -webkit-flex;
  display: wrapping ;
  height: 1000px;
  width: 500px;
}

p{
  text-align: center;
}

.redSquare{
  height: 100px;
  width:100px;
  background: red;
  border-color:black;
  border-width: thick;
}

.blackSquare{
  height: 100px;
  width: 100px;
  background: black;
  border-color: black;
  border-width: thick;
}
